<h2>Login</h2>
<form (ngSubmit)="f.form.valid && login()" #f="ngForm"
      novalidate class="feedback-form">
  <!--  username -->
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username"
           type="text"
           name="username"
           class="form-control"
           [(ngModel)]="model.username"
           #username="ngModel"
           [ngClass]="{' is-invalid': f.submitted && username.invalid }"/>
  </div>

  <!--  password -->
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password"
           type="password"
           name="password"
           class="form-control"
           [(ngModel)]="model.password"
           #password="ngModel"
           [ngClass]="{' is-invalid': f.submitted && password.invalid }"
           required/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
       Login
    </button>
  </div>
</form>
