<div class="modal-body">
  <div class="container">
    <div id="chartContainer" style="width: 760px; height: 400px;"></div>
  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <i class="far fa-2x fa-frown"></i>
      <i class="far fa-2x fa-meh"></i>
      <i class="far fa-2x fa-grin"></i>
      <i class="far fa-2x fa-laugh"></i>
    </div>
    <button class="btn btn-default" type="button" data-dismiss="modal" aria-label="Close"
            (click)="this.closeModal()">Close
    </button>
  </div>
</div>
