<table class="table table-dark">
  <tbody>
  <tr>
    <td>
      <table class="col-md-12">
        <thead>
        <tr>
          <td>Age</td>
          <td>Distance From Home</td>
          <td>Education</td>
          <td>Job Level</td>
          <td>Monthly Income</td>
          <td>No. Companies Worked</td>
          <td>Total Working Year</td>
          <td>Training Times Last Year</td>
          <td>Years At Company</td>
          <td>Year Since Last Promotion</td>
          <td>Attrition</td>
          <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" *ngFor="let employee of this.employees">
          <td>{{employee.age}}</td>
          <td>{{employee.distance_from_home}}</td>
          <td>{{getEducationNameByLevel(employee.education)}}</td>
          <td>{{getJobNameByLevel(employee.job_level)}}</td>
          <td>{{employee.monthly_income}}$</td>
          <td>{{employee.num_companies_worked}}</td>
          <td>{{employee.total_working_years}}</td>
          <td>{{employee.training_times_last_year}}</td>
          <td>{{employee.years_at_company}}</td>
          <td>{{employee.years_since_last_promotion}}</td>
          <td>{{employee.attrition}}</td>
          <td>
            <button (click)="deleteEmployee($event)" [ngClass]="employee._id">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center" id="pagination">
        <li class="page-item" [ngClass]="{disabled: this.currentPage === 1}">
          <div class="page-link" tabindex="-1" (click)="previousPage()">Previous</div>
        </li>
        <li class="page-item" [ngClass]="{disabled: this.currentPage === this.noOfPages}">
          <div class="page-link" (click)="nextPage()">Next</div>
        </li>
      </ul>
    </nav>
  </tr>
  <tr>
    Total: {{this.counter}}
  </tr>
  <tr>{{this.performance}}% performance
    <i class="fa fa-refresh" aria-hidden="true" (click)="refresh()"></i>
  </tr>
  </tbody>
</table>
