<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 center">
      <div class="custom-container"><br/>
        <br/><br/>
        <form (ngSubmit)="f.form.valid && sendData()" #f="ngForm" [formGroup]="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="education-input">Education</label>
                <select
                    class="form-control"
                    id="education-input"
                    name="education"
                    formControlName="education"
                    [ngClass]="{' is-invalid': form.get('education').invalid && form.get('education').touched }"
                >
                  <option value="" selected="" disabled="" hidden="">Choose education</option>
                  <option value="1">Politehnica</option>
                  <option value="2">Universitate</option>
                  <option value="3">Cibernetica</option>
                  <option value="4">Other technical</option>
                  <option value="5">Other</option>
                </select>

                <!-- input validation group -->
                <div *ngIf="form.get('education').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('education').errors?.required">Field is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="job-level-input">Job Level</label>
                <select
                    class="form-control"
                    id="job-level-input"
                    name="jobLevel"
                    formControlName="jobLevel"
                    [ngClass]="{' is-invalid': form.get('jobLevel').invalid && form.get('jobLevel').touched }"
                >
                  <option value="" selected="" disabled="" hidden="">Choose job level</option>
                  <option value="1">Novice</option>
                  <option value="2">Advanced</option>
                  <option value="3">Competent</option>
                  <option value="4">Proficient</option>
                  <option value="5">Expert</option>
                </select>

                <!-- input validation group -->
                <div *ngIf="form.get('jobLevel').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('jobLevel').errors?.required">Field is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="age-input">Age</label>
                <input
                    class="form-control"
                    id="age-input"
                    type="number"
                    name="age"
                    formControlName="age"
                    [ngClass]="{' is-invalid': form.get('age').invalid && form.get('age').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('age').invalid && form.get('age').touched" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('age').errors?.required">Field is required</div>
                  <div *ngIf="form.get('age').errors?.min">Your field value is lesser than {{this.minAge}}</div>
                  <div *ngIf="form.get('age').errors?.max">Your field value is greater than {{this.maxAge}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="companies-worked-input">Number of companies worked</label>
                <input
                    class="form-control"
                    id="companies-worked-input"
                    type="number"
                    name="numCompaniesWorked"
                    formControlName="numCompaniesWorked"
                    [ngClass]="{' is-invalid': form.get('numCompaniesWorked').invalid && form.get('numCompaniesWorked').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('numCompaniesWorked').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('numCompaniesWorked').errors?.required">Field is required</div>
                  <div *ngIf="form.get('numCompaniesWorked').errors?.min">Your field value is lesser than 0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="trainings-last-year-input">Trainings last year</label>
                <input
                    class="form-control"
                    id="trainings-last-year-input"
                    type="number"
                    name="trainingTimesLastYear"
                    formControlName="trainingTimesLastYear"
                    [ngClass]="{' is-invalid': form.get('trainingTimesLastYear').invalid && form.get('trainingTimesLastYear').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('trainingTimesLastYear').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('trainingTimesLastYear').errors?.required">Field is required</div>
                  <div *ngIf="form.get('trainingTimesLastYear').errors?.min">Your field value is lesser than 0</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="years-company-input">Years at company</label>
                <input
                    class="form-control"
                    id="years-company-input"
                    type="number"
                    name="yearsAtCompany"
                    formControlName="yearsAtCompany"
                    [ngClass]="{' is-invalid': form.get('yearsAtCompany').invalid && form.get('yearsAtCompany').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('yearsAtCompany').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('yearsAtCompany').errors?.required">Field is required</div>
                  <div *ngIf="form.get('yearsAtCompany').errors?.min">Your field value is lesser than 0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="years-since-last-promotion-input">Years since last promotion</label>
                <input
                    class="form-control"
                    id="years-since-last-promotion-input"
                    type="number"
                    name="yearsSinceLastPromotion"
                    formControlName="yearsSinceLastPromotion"
                    [ngClass]="{' is-invalid': form.get('yearsSinceLastPromotion').invalid && form.get('yearsSinceLastPromotion').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('yearsSinceLastPromotion').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('yearsSinceLastPromotion').errors?.required">Field is required</div>
                  <div *ngIf="form.get('yearsSinceLastPromotion').errors?.min">Your field value is lesser than 0</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="distance-from-home-input">Distance from home (km)</label>
                <input
                    class="form-control"
                    id="distance-from-home-input"
                    type="number"
                    name="distanceFromHome"
                    formControlName="distanceFromHome"
                    [ngClass]="{' is-invalid': form.get('distanceFromHome').invalid && form.get('distanceFromHome').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('distanceFromHome').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('distanceFromHome').errors?.required">Field is required</div>
                  <div *ngIf="form.get('distanceFromHome').errors?.min">Your field value is lesser than 0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="salary-input">Salary</label>
                <input
                    class="form-control"
                    id="salary-input"
                    type="number"
                    name="monthlyIncome"
                    formControlName="monthlyIncome"
                    [ngClass]="{' is-invalid': form.get('monthlyIncome').invalid && form.get('monthlyIncome').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('monthlyIncome').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('monthlyIncome').errors?.required">Field is required</div>
                  <div *ngIf="form.get('monthlyIncome').errors?.min">Your field value is lesser than {{this.minMonthlyIncome}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="working-years-input">Total working years</label>
                <input
                    class="form-control"
                    id="working-years-input"
                    type="number"
                    name="totalWorkingYears"
                    formControlName="totalWorkingYears"
                    [ngClass]="{' is-invalid': form.get('totalWorkingYears').invalid && form.get('totalWorkingYears').touched }"
                />
                <!-- input validation group -->
                <div *ngIf="form.get('totalWorkingYears').invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="form.get('totalWorkingYears').errors?.required">Field is required</div>
                  <div *ngIf="form.get('totalWorkingYears').errors?.min">Your field value is lesser than 0</div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <button class="btn btn-info" type="submit" [disabled]="!form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
